<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @venue.name %></dd>

      <dt>Address</dt>
      <dd><%= @venue.address %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @venue.neighborhood.name %></dd>

      <dt>Favorites</dt>
      <dd>
        <ul class="list-group">
         <% @venue.favorites.each do |favorite| %>
          <li class="list-group-item">
            <%= favorite.dish.name %>
          </li>
        <% end %>

        </dd>
        <dd>
        <form action="/create_venue" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for name -->
        <div class="form-group">
          <label for="name" class="control-label">
            Name
          </label>
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="Name">
        </div>

        <!-- Label and input for address -->
        <div class="form-group">
          <label for="address" class="control-label">
            Address
          </label>
          <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="Address">
        </div>

        <!-- Label and input for neighborhood_id -->
        <div class="form-group">
          <label for="neighborhood_id" class="control-label">
            Neighborhood
          </label>
          <%= select_tag(:neighborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name, @venue.neighborhood_id), :class => "form-control") %>
        </div>

        <button class="btn btn-success">
          Create Venue
        </button>
        or
        <a href="/venues">Cancel</a>
      </form>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
