<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @dish.name %></dd>

      <dt>Cuisine</dt>
      <dd><%= @dish.cuisine.name %></dd>

      <dt>Favorites</dt>
      <dd>
        <ul class="list-group">
          <% @dish.favorites.each do |favorite| %>
            <li class="list-group-item">
              <%= favorite.venue.name %> by <%= favorite.user.username %>
            </li>
           <% end %>
      </dd>
      <dd>
        <form action="/create_dish" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for name -->
        <div class="form-group">
          <label for="name" class="control-label">
            Name
          </label>
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @dish.name %>">
        </div>

        <!-- Label and input for cuisine_id -->
        <div class="form-group">
          <label for="cuisine_id" class="control-label">
            Cuisine
          </label>

          <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name, @dish.cuisine_id), :class => "form-control") %>
       </div>

      <!-- Label and input for cuisine_id -->
      </dd>
      <button class="btn btn-success">
        Create Dish
      </button>
      or
      <a href="/dishes">Cancel</a>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
